# Supabase Configuration
VITE_SUPABASE_URL=https://lccierdyjyfhjcubsncp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxjY2llcmR5anlmaGpjdWJzbmNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMjg2OTQsImV4cCI6MjA5MTcwNDY5NH0.RH9H6vra-lerpuoHBvNqRpYjZT2FDgdpk7vtb-m5R6w

# App Configuration
VITE_APP_ENV=development
